body{
    background: linear-gradient(to left,rgba(40, 47, 38, 0.798),rgb(105, 212, 69));
    background-repeat: no-repeat;
    padding: 20px;
}

h3{
    background: linear-gradient(to left,rgb(170, 219, 23),rgb(37, 61, 168));
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.697);
    font-family: Ubuntu;
}

.box1{
    background: linear-gradient(to left,rgb(36, 23, 219),rgb(37, 168, 96));
    border-radius: 15px;
    background-position: center;
    font-family: Ubuntu;
    padding: 5px;
}
img{
    border-radius: 30px;
}
.box2{
    background: linear-gradient(to bottom,rgb(36, 23, 219),rgb(37, 168, 96));
    border-radius: 15px;
    background-position: center;
    font-family: Ubuntu;
    padding: 5px; 
}
.box3{
    background: linear-gradient(to left,rgb(98, 219, 23),rgb(168, 37, 46));
    border-radius: 15px;
    background-position: center;
    font-family: Ubuntu;
    padding: 5px; 
}
th{
    background-color: blanchedalmond;
    border-radius: 3px;
    border-color: blueviolet;
    padding: auto;
}
button{
    border-radius: 20px;
    background-color: yellow;
}
#fname{
    background-color: rgba(239, 240, 245, 0.887);
    color: rgb(219, 245, 249);
    border-radius: 10px;
}
#lname{
    background-color: rgba(239, 240, 245, 0.887);
    color: rgb(219, 245, 249);
    border-radius: 10px;
}
#email{
    background-color: rgba(239, 240, 245, 0.887);
    color: rgb(219, 245, 249);
    border-radius: 10px;
}
#password{
    background-color: rgba(239, 240, 245, 0.887);
    color: rgb(219, 245, 249);
    border-radius: 10px;
}
#ph{
    background-color: rgba(239, 240, 245, 0.887);
    color: rgb(219, 245, 249);
    border-radius: 10px;
}
#bdate{
    background-color: rgba(239, 240, 245, 0.887);
    color: rgb(126, 32, 170);
    border-radius: 10px;
}
#reset{
    border-radius: 20px;
}
#submit{
    border-radius: 20px;
}


